
.App {
  text-align: center;
  background-color: #eab8e3 ;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#f4f4f8 ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logolasgonzalez {
  width: 360px;
  height: 80px;
  
  
}

.headsup{
  gap: 40px;
}
.headinf{
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.carritocompras{
  display:flex;
  flex-wrap: wrap;
}

.botones{
  float: left;
  border-radius: 8px;
  background-color: #f4f4f8;
}
.carrito {
  width: 25px;
  height: 25px;
  

  
}




